.ProjectCreate {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-auto-rows: auto;
    align-items: center;
    column-gap: var(--gap-1);
    row-gap: var(--gap-1);

    width: 100%;
    max-width: 1500px;
}

.accept {
    margin-top: var(--gap-2);
}

select {
    height: 30px;
    padding: var(--gap-0);
    padding-right: 30px;
    border: none;
    border-radius: 0;
    background-color: var(--col-bg-1);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px;
    box-shadow: none;
    color: var(--col-fg-0);
    font-size: 16px;
    font-family: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:focus {
    outline: none;
}

select:hover {
    filter: brightness(1.25);
}

.err_box {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
