.LayerEditor {
  margin-right: var(--gap-1);
}

.LayerEditorLayer {
  display: flex;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: center;
}

.layer_hidden {
  color: gray;
  opacity: 0.5;
}
