[Unit]
Description=Plottery server
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/home/{{USER_NAME}}/.cargo/bin/plottery_server
WorkingDirectory=/home/{{USER_NAME}}
Restart=no

[Install]
WantedBy=multi-user.target
