.Navigation {
  position: sticky;
  top: 0;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  column-gap: var(--gap-1);
  align-items: center;
  padding: var(--gap-1);

  background-color: var(--col-fg-0);
  color: var(--col-bg-0);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.nav_children {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: var(--gap-1);
  align-items: center;
  justify-content: flex-end;
}
