.ProjectOverview {
  display: flex;
  flex-direction: row;
  column-gap: var(--gap-1);
}

.grey_text {
  color: var(--col-fg-1);
}

.summary {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-0);
}
.preview {
  height: 130px;
  background-color: var(--col-fg-0);
  border-radius: var(--border-radius);
  padding: var(--gap-0);
}
.project-not-found {
  background-color: var(--col-err);
}

.open_actions {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  column-gap: var(--gap-0);
}
.open_actions button {
  color: var(--col-fg-0);
  background-color: var(--col-bg-2);
}

.actions {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-0);
}
.delete_button {
  margin-bottom: auto;
  background-color: transparent !important;
}
.actions button {
  background-color: var(--col-fg-1);
}
