.project_overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: var(--gap-0);
}

.summary {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-0);
}

.project-not-found {
  background-color: var(--col-err);
}

.grey_text {
  color: var(--col-fg-1);
}

.preview_image {
  height: 200px;
}
