.Editor {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-1);
    max-height: calc(100vh - var(--header-height)) !important;
    max-width: 100vw !important;
}

.plot_header {
    padding: var(--gap-0);
    display: flex;
    flex-direction: row;
    column-gap: var(--gap-2);
    background-color: var(--col-bg-2);
    align-items: center;
    justify-content: space-between;
}
.run_actions {
    display: flex;
    flex-direction: row;
    column-gap: var(--gap-1);
    min-width: 400px;
    justify-content: flex-end;
}
.open_actions {
    display: flex;
    flex-direction: row;
    column-gap: var(--gap-0);
}
.open_actions button {
    color: var(--col-fg-0);
    background-color: var(--col-bg-2);
}
.output_actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--gap-1);
}

.plot_and_params {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    column-gap: var(--gap-1);
}
.params {
    width: 500px;
    display: flex;
}
.plot_and_console {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-0);
}
.plot {
    display: flex;
    flex: 1;
    background-color: white;
    padding: var(--gap-0);
    overflow-x: scroll;
    user-select: none;
    -webkit-user-select: none;
}
.console_container {
    width: 100%;
}

.console_toggle {
    width: 100px;
    height: 22px;
    min-height: 22px;
    background-color: var(--col-bg-3);
    cursor: pointer;
    color: var(--col-fg-0);
    font-size: 10px;
    transition: background-color 0.2s;
    display: block;
    margin: 0 auto;
}
.console_toggle:hover {
    background-color: var(--col-active);
}

.console {
    position: relative;
    height: 170px;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    border: 2px solid var(--col-bg-3);
    border-radius: var(--border-radius);
}
.console.expanded {
    height: 550px;
}

.active_button {
    background-color: var(--col-active);
    color: var(--col-fg-0);
}

.running_state {
    padding: var(--gap-0) var(--gap-1);
    border-radius: var(--border-radius);
    background-color: var(--col-bg-3);
    display: flex;
    justify-content: center;
    align-items: center;
}
