.ParamsEditor {
    flex: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--gap-1);
    row-gap: var(--gap-1);
    background-color: var(--col-bg-1);
    padding: var(--gap-1);
    align-content: start;
}

.ParamsEditor h2,
.ParamsEditor h3 {
    margin: 0;
    align-self: center;
}

.ParamOptionLabel {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ParamOptionLabel input[type="checkbox"] {
    margin: 0 8px;
}

.ParamStruct {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--gap-1);
    row-gap: var(--gap-1);
    align-items: center;
    border-left: 2px solid white;
    padding-left: var(--gap-1);
}
