.Editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-1);
}

.plot_header {
  padding: var(--gap-0);
  display: flex;
  flex-direction: row;
  column-gap: var(--gap-2);
  background-color: var(--col-bg-2);
  align-items: center;
}
.run_actions {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  column-gap: var(--gap-1);
}
.open_actions {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  column-gap: var(--gap-0);
}
.open_actions button {
  color: var(--col-fg-0);
  background-color: var(--col-bg-2);
}

.plot_and_params {
  flex: 1;
  display: flex;
  flex-direction: row;
  column-gap: var(--gap-1);
}
.params {
  width: 400px;
  display: flex;
}
.plot_and_console {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-1);
}
.plot {
  position: relative;
  flex: 1;
  background-color: white;
  padding: var(--gap-0);
  overflow-x: scroll;
}
.console {
  position: relative;
  height: 160px;
  width: 100%;
  box-sizing: border-box;
}

.active_button {
  background-color: var(--col-active);
  color: var(--col-fg-0);
}

.running_state {
  padding: var(--gap-0) var(--gap-1);
  border-radius: var(--border-radius);
  background-color: var(--col-bg-3);
  display: flex;
  justify-content: center;
  align-items: center;
}
